{% extends 'base.html' %}
{% load static %}

{% block title %}Orders{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/order_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h4 class="mt-4">Orders List</h4>
            <div class="d-flex justify-content-end m-3">
                <a class="btn btn-secondary me-1 text-white" id="" data-bs-toggle="" data-bs-target="">Add To Repeat Orders<i class='bx bx-right-arrow-alt'></i></a>
                <a class="btn btn-success text-white" id="new_order" data-bs-toggle="" data-bs-target=""><i class='bx bx-plus'></i>New Order</a>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table" id="usersTable">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Name</th>
                        <th>Item Type</th>
                        <th>Model No.</th>
                        <th>No. of Pieces</th>
                        <th>Date of Order</th>
                        <th>Est. Delivery Date</th>
                        <th>Contact No.</th>
                        <th>MRP</th>
                        <th>Selling Price</th>
                        <th>Discount</th>
                        <th>Color</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/order_list.js' %}"></script>
{% endblock %}