{% extends 'base.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/role_management_table.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center card-header">
    <h5 class="mb-0">Roles</h5>
    <button class="btn btn-primary" id="createrole" data-bs-toggle="modal" data-bs-target="#createRolemodal">
        Create Role
    </button>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table" id="usersTable">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Role Name</th>
                        <th>Created/Updated By</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/role_management_table.js' %}"></script>
{% endblock %}
