{% extends 'base.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/role_management_table.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="d-flex">
        <h5 class="card-header">Roles</h5>
        <div class="d-flex justify-content-end m-3">
            <button class="btn btn-success" id="createrole" data-bs-toggle="modal" data-bs-target="#createRolemodal">Create Role</button>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table" id="usersTable">
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Role Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/role_management_table.js' %}"></script>
{% endblock %}
