{% extends 'base.html' %}
{% load static %}

{% block title %}Stones{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y p-0">
      <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4> -->

      <!-- Basic Bootstrap Table -->
      <div class="card">
        <h5 class="card-header">Stones</h5>
        <div class="table-responsive text-nowrap p-3">
          <table id="stoneTable" class="table">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/stone_list.js' %}"></script>
  
{% endblock %}