{% extends 'base.html' %}
{% load static %}

{% block title %}Client Dashboard{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <button id="go-to-cart" class="btn btn-primary" onclick="openClientSideModal()">
            Go to Cart <span class="badge bg-light text-dark">3</span>
        </button>
    </div>
    
    <div class="row" id="model-cards"></div>
    <div id="response-container" class="mt-3"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/clinet_dashboard.js' %}"></script>
{% endblock %}