{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Hey <b>{{ userprofile.full_name }}</b>, hope your business is touching the sky right now!</h3>
    </div>

    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="card-title float-end">
                    <div class="">
                      <img src="{% static 'dash_img/Revenue.svg' %}" alt="Revenue Icon" class="h-8 w-8">
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Total Revenue</span>
                  <h2 class="card-title mb-2">₹56L</h2>
                </div>
              </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="card-title float-end">
                    <div class="">
                      <img src="{% static 'dash_img/Models.svg' %}" alt="Models Icon" class="h-8 w-8">
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Total Models</span>
                  <h2 class="card-title mb-2">1829</h2>
                </div>
              </div>
        </div>
        
        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="card-title float-end">
                    <div class="">
                      <img src="{% static 'dash_img/Repeat_orders.svg' %}" alt="Repeat orders Icon" class="h-8 w-8">
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Repeat Orders</span>
                  <h2 class="card-title mb-2">324</h2>
                </div>
              </div>
        </div>
        
        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="card-title float-end">
                    <div class="">
                      <img src="{% static 'dash_img/Defected_orders.svg' %}" alt="Defected orders Icon" class="h-8 w-8">
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Defected Orders</span>
                  <h2 class="card-title mb-2">12</h2>
                </div>
              </div>
        </div>
        
        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="card-title float-end">
                    <div class="">
                      <img src="{% static 'dash_img/Total_weight.svg' %}" alt="Total weight Icon" class="h-8 w-8">
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Total Weight</span>
                  <h2 class="card-title mb-2">8.3kg</h2>
                </div>
              </div>
        </div>
        
        <!-- Card 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <div class="card-title float-end">
                    <div class="">
                      <img src="{% static 'dash_img/Colors.svg' %}" alt="Colors Icon" class="h-8 w-8">
                    </div>
                  </div>
                  <span class="fw-semibold d-block mb-1">Colours Available</span>
                  <h2 class="card-title mb-2">24</h2>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}